.App {
  text-align: center;
  position: relative;
  overflow-y: auto;
}

.footer {
  bottom: auto;
}

.header {
  @media screen and (max-width: 768px) {
    width: 80%;
    position: -webkit-sticky;
    top: 0;
    left: 0;
  }
  position: sticky;
  position: -webkit-sticky;
}