body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(22, 15, 65, 0.856);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1rem;
  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}

h2,h3,h4,h5,h6 {
  font-weight: 700;
  color: #fff;
  margin-bottom: 1rem;
  @media screen and (max-width: 768px) {
    font-size: 0.8rem;
  }
}